#search-btn {
    border: 1px solid #d2d6de;
}
#search-btn:hover {
    background: #605ca8;
    color: #eee;
}
.tab-content > .tab-pane {
    border: 1px solid #ddd;
    padding: 15px;
    border-top: none;
}
#search-btn {
    border: 1px solid #bbb;
}
#admin-search {
    margin-bottom: 15px;
}
table.dataTable thead td,
table.dataTable tfoot td,
table.dataTable.no-footer,
table.dataTable thead th {
    border-bottom: none;
}

.checkbox-list {
    list-style-type: none;
    padding-left: 0;
}

.checkbox-list ul {
    list-style-type: none;
    padding-left: 25px;
}

.sidebar-menu li > a > .pull-right-container {
    transform: translate(0%, 100%);
}

.navbar-custom-menu .navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.navbar-custom-menu .navbar-nav > li {
    display: inline-block !important;
    float: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
